extends layout

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        |<h2> At GreenGrow Fertilizers, we are dedicated to providing top-quality fertilizers and soil amendments for all types of gardening and agricultural needs. Whether you're a backyard gardener or a professional farmer, we have the right products to help your plants thrive. Our range includes organic fertilizers, composts, specialized blends for fruits, vegetables, and flowers, and eco-friendly solutions to promote healthy, sustainable growth.</h2>
<br/><br/>
We believe that healthy soil is the foundation of successful gardening, and our team is here to offer expert advice and guidance. Visit us today and discover how GreenGrow can help your garden or farm flourish.